div {
    text-align:center;
    width: 1000px;
    background-color: #e9e9e9;
    left:0;
    right:0;
}
body {
     font-size: 17px;
     font-family: Arial;
     line-height:1.5px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
img {
    float: right;
    height:250px;
}
.blue-button:hover {
    background: #3cb0fd;
}
input {
    width:500px;
}
p {
    margin-top:2px;
}