div {
    text-align:center;
    width: 1000px;
    background-color: #e9e9e9;
    left:0;
    right:0;
    font-family:Palatina;
}
body {
     font-size: 17px;
     font-family: Arial;
     line-height:1.5px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    
}
img {
    height:150px;
    float:right;
    margin:10px;
}
#comments{
    width:650px;
    height:100px;
}
p {
    line-height:20px;
}