div {
    text-align:center;
    left:0;
    right:0;
    font-family:Palatina;
    position:relative;
}
body {
     font-size: 17px;
     font-family: Trebuchet;
     line-height:1.5px;
     background:linear-gradient(lightblue,gray);
}
hr {
    border-color: #778899;
    height: 1px;
    background: #333;
    
}
img {
    height:150px;
    float:right;
    margin:10px;
}
#comments{
    width:650px;
    height:50px;
    border-color:#778899;
}
p {
    line-height:20px;
}
span {
    font-family: Helvetica;
    font-size:13px;
    text-align: center;
    color:white;
}